body {
  background-color: black;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.heading {
  color: white;
  font-size: 64px;
  text-align: center;
}

.word {
  color: rosybrown;
  font-size: 32px;
  text-align: center;
  padding: 50px 0;
}

.stats {
  color: greenyellow;
  font-size: 32px;
  text-align: center;
  padding: 20px;
  font-weight: 700;
}

.stats_perc {
  color: yellow;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 10px;
}

.knopf {
  padding: 40px;
  font-size: 30px;
  border-radius: 10px;
  margin: 20px;
  font-weight: 600;
  color: white;
  border: 2px solid lightgray;
}

.le {
  background-color: green;
}

.knopf:hover {
  border: 2px solid yellow;
  color: yellow;
  cursor: pointer;
}

.le:active {
  background-color: lightgreen;
}

.la {
  background-color: blue;
}

.la:active {
  background-color: lightblue;
}

.history {
  color: white;
  font-size: 20px;
}

.history td {
  padding: 5px;
}

.intro {
  color: rosybrown;
  font-size: 32px;
  text-align: center;
  padding: 50px;
}

.intro .knopf {
  padding: 20px;
  margin-top: 40px;
  background-color: lightgreen;
}

.result .knopf {
  padding: 20px;
  background-color: lightgreen;
}

.hidden {
  display: none;
}

.wide_cell {
  width: 200px;
}

.score {
  color: gold;
  font-size: 32px;
  padding: 37px;
  transition: 1s;
  font-weight: 900;
  text-align: center;
}

.score_desc {
  color: lightgray;
  font-size: small;
}

.classification {
  color: orange;
  font-size: 32px;
  text-align: center;
  padding: 20px 0;
  font-weight: 900;
  opacity: 0;
}

.fadein {
  transition: 2s;
  opacity: 1;
  color: lightgreen;
}
